<!DOCTYPE html>
<html lang="en">
<head>
    <!-- head info about the hoem page
    first line tells of encoding 
     second line to scale widthwise accordingly
     third is the title that is name of the webpage  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- name of the page -->
    <!-- title of the pages -->
</head>
<body>
    <!-- body content of the page is wite here -->
    <h1>Welcome to the {{title}} page</h1>
    <!-- write specefic to the different html pages in the block content-->
    {% block content %}
    {% endblock %}
</body>
</html>